html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dynamic-lenght-input-container {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid black;
    font:inherit;
    font-size:inherit;
}

.dynamic-lenght-input-span,
.dynamic-lenght-input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: inherit;
}

.dynamic-lenght-input-span {
    display: inline-block;
    visibility: hidden;
    padding: 0 0.5ch 0 0.5ch;
    min-width: 4ch;
    max-width: 25ch;
    white-space: pre;
}

.dynamic-lenght-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.dynamic-lenght-input:focus {
    outline: 0 none;
    border: 0 none;
}
    outline-width: 0;
}

.draggable {
    z-index: 9;
}

.containment {
    width: 100%;
}

.draggable-placeholder {
    padding: 1ex;
}

.w-66 {
    width: 66% !important;
}

.blank {
    padding: 0.3em 1em 0.3em 1em;
    width: 10em;
    height: 100%;
    background-color: forestgreen;
}

.blank-left {
    border-radius: 50rem 0 0 50rem;
    padding-left: 1em;
}

.blank-right {
    border-radius: 0 50rem 50rem 0;
}

.blank-placeholder {
    border-radius: 0 50rem 50rem 0;
    width: 10em;
    height: 100%;
    background-color: darkkhaki;
}