html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.dynamic-lenght-input-container {
    display: inline-block;
    position: relative;
    border-bottom: 1px solid black;
    font: inherit;
    font-size: inherit;
}

.dynamic-lenght-input-span,
.dynamic-lenght-input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: inherit;
}

.dynamic-lenght-input-span {
    display: inline-block;
    visibility: hidden;
    padding: 0 0.5ch 0 0.5ch;
    min-width: 4ch;
    max-width: 25ch;
    white-space: pre;
}

.dynamic-lenght-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

    .dynamic-lenght-input:focus {
        outline: 0 none;
        border: 0 none;
    }

.draggable {
    z-index: 9;
}

.draggable-placeholder {
    padding: 1ex;
}

.w-66 {
    width: 66% !important;
}

.blank {
    padding: 0.3em 1em 0.3em 1em;
    width: 10em;
    height: 100%;
    background-color: deepskyblue;
    border: 1px solid rgb(0,0,0);
    box-shadow: 0 0 3px 0px black;
}

.blank-left {
    border-radius: 50rem 0 0 50rem;
    padding-left: 1em;
    border-right: 0px solid black;
}

.blank-right {
    border-radius: 0 50rem 50rem 0;
    border-left: 0px solid black;
}

.blank-placeholder {
    border-radius: 0 50rem 50rem 0;
    width: 10em;
    height: 100%;
    background-color: darkgray;
}

.vertical-margins {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.horizontal-margin {
    margin-right: 2rem;
}

.question {
    margin: 0.5rem;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 1ch;
    box-shadow: 0 0 5px 0px gray;
}

.container-for-fixed-top {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.footer {
    margin-top: auto;
}

.flex-even {
    flex: 1;
}

.countdown {
    color: white;
    height: 100%;
    margin: 0;
}

.title {
    color: white;
    height: 100%;
    margin: 0;
}

.countdown-warning {
    color: rgb(216, 49, 49) !important;
    text-shadow: 0px 0px 3px #000;
}