@model List<QuestionViewModel>
@inject IPartialViewResolver Resolver

<section>
    <div class="container">
        <form id="Test" asp-action="Submit" method="post">
        @{
            foreach (QuestionViewModel content in Model)
            {
                @(await Html.PartialAsync(Resolver.GetPartialViewName(content.GetType()), content))
            }
        }
        </form>
        <input type="submit" form="Test" value="Submit"/>
    </div>
</section>