@model FillBlankQuestionViewModel

<div class="row">
    @Model.Directions
</div>
<div class="row">
    <div id="FillBlank-@Model.Id" class="col">
        @Model.Context
    </div>
</div>

<script>
        (function() {
            let matches = document.querySelectorAll("div[id*='FillBlank']");
            let tag = /{blank_\d+}/;
            matches.forEach(m => m.innerHTML = m.innerHTML.replace(tag, "1"));
        })()

    function handlePaste(e) {
        var clipboardData, pastedData;

        // Stop data actually being pasted into div
        e.stopPropagation();
        e.preventDefault();

        // Get pasted data via clipboard API
        clipboardData = e.clipboardData || window.clipboardData;
        pastedData = clipboardData.getData('Text');

        // Do whatever with pasteddata
        alert(pastedData);
    }
</script>
