@model FillBlankQuestionViewModel

<div class="row">
    @Model.Directions
</div>
<div class="row">
    <div class="col">
        @Model.Context
    </div>
</div>

@section Scripts{
    <script>
        function (){

        }()
    </script>
}