@using System.Text.RegularExpressions;
@model FillBlankQuestionViewModel

<div class="row">
    @Model.Directions
</div>
<div class="row">
    <div id="FillBlank-@Model.Id" class="col">
        @{
            string input = "<div class=\"dynamic-lenght-input-container\"><span></span><input/></div>";
            string result = "";
            if(Model.Context is { } context)
            {
                result = new Regex("{blank_\\d+}").Replace(context, input);
            }
        }
        @Html.Raw(result)
    </div>
</div>

<script>
    (function () {
        document.querySelector("input[class*='input25']")
        var input = document.querySelector("input[class*='input25']"); // get the input element
        input.addEventListener('input', resizeInput); // bind the "resizeInput" callback on "input" event
        resizeInput.call(input); // immediately call the function

        function resizeInput() {
            var text = document.querySelector("span[class*='text25']");
            console.log(this.value);
            text.innerText = this.value;
        }
    })()
</script>
